[submodule "deps/azmq"]
	path = deps/azmq
	url = https://github.com/zeromq/azmq.git
[submodule "deps/tash"]
	path = deps/tash
	url = ../tash.git
[submodule "deps/QJsonModel"]
	path = deps/QJsonModel
	url = https://github.com/dridk/QJsonModel.git
[submodule "deps/noch"]
	path = deps/noch
	url = ../noch.git
	branch = develop
[submodule "deps/spoa"]
	path = deps/spoa
	url = https://github.com/rvaser/spoa.git
